/*Sass -- Author:Nguyen Thanh Than*/
@import '_mixins.scss';
@import '_base.scss';
@import  '../fonts/fonts.css';

$font-stack:    Arial, sans-serif;
$primary-color: #333;

html, body{ font:13px $font-stack;}
.container{
  min-width: 1335px;
}
.parallax-header{
  min-height: 530px;

}
header{
  padding-top: 15px;
  .navbar{
    background: none;
    border: none;
    margin-top: 20px;
    .nav{
      text-align: right;
      width: 100%;
      li{
        display: inline-block;
        float: none;
        a{
          font: bold 18px 'Verdana';
          color: #fff;
          padding: 0;
          padding-left: 42px;
          &:hover, &:focus{
            color: #fff;
            text-decoration: underline;
          }
          &.search{
            width: 18px;
            height: 17px;
            background: url("../img/icon-search.png") no-repeat;
            display: inline-block;
            text-indent: -999em;
            margin-left: 38px;
            margin-top: -2px;
            vertical-align: top;
          }
        }
      }
    }
  }
  .logo{
    width: 206px;
    height: 59px;
    background: url("../img/logo.png") no-repeat;
    display: inline-block;
    text-indent: -999em;
  }
  .career{
    width: 206px;
    height: 27px;
    background: url("../img/career.png") no-repeat;
    display: inline-block;
    text-indent: -999em;
  }
  h1{
    font: normal 36px $font-stack;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-top: 75px;
    display: block;
  }
  .btn{
    width: 248px;
    height: 67px;
    background: #c20000;
    display: block;
    margin: 15px auto;
    font: bold 18px $font-stack;
    color: #fff;
    text-transform: uppercase;
    line-height: 56px;
    &:hover, &:focus{
      opacity: 0.75;
      color: #fff;
    }
  }
}
h2{
  font: bold 24px $font-stack;
  text-align: center;
  color: #fff;
  margin: 60px 0 20px;
  &:before{
    width: 114px;
    content: '';
    display: inline-block;
    height: 1px;
    background: #fff;
    margin-right: 33px;
    vertical-align: top;
    margin-top: 14px;
  }
  &:after{
    width: 114px;
    content: '';
    display: inline-block;
    height: 1px;
    background: #fff;
    margin-left: 33px;
    vertical-align: top;
    margin-top: 14px;
  }
}
.life-section{
  background: #ffcc00;
  p{
    text-align: center;
    font: normal 18px $font-stack;
    color: #fff;
    margin-bottom: 40px;
  }
}
.slide-life{
  figure{
    position: relative;
    overflow: hidden;
    display: block;
    &:first-child{
      margin-bottom: 20px;
    }
    img{
      max-width: 100%;
    }
    .content-hover{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: rgba(0, 0, 0, 0.65);
      top: 0;
      left: 0;
      display: table;
      height: 365px;
      opacity:0;
      transition: all 0.5s;
      a{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        text-align: center;
        font: bold 26px $font-stack;
        color: #fff;
        transition: all 0.5s;
        &:hover{
          color: #fff;
          text-decoration: none;
        }
      }
    }
    &:hover{
      .content-hover{
        opacity: 1;
      }
    }

  }
  .items{
    div:first-child{
      padding-right: 10px;
    }
    div:last-child{
      padding-left: 10px;
    }
  }
}

.reasons-section{
  background: #2098b6;
  padding-bottom: 20px;
  h2{
    margin-bottom: 70px;
  }
  figure{
    text-align: center;
    margin-bottom: 45px;
    img{
      max-width: 100%;
    }
    h3, a{
      font: bold 20px $font-stack;
      color: #fff;
      text-transform: uppercase;
    }
    p{
      font: normal 14px $font-stack;
      color: #fff;
    }
  }
}
.team-section{
  text-align: center;
  .tb-column{
    display: table;
    height: 548px;
    width: 100%;
    .tb-cell{
      display: table-cell;
      vertical-align: middle;
    }
  }
  h2{
    width: 55%;
    font: normal 36px $font-stack;
    color: #000;
    text-transform: uppercase;
    margin: 0 auto 30px;
    &:before, &:after{
      display: none;
    }
  }
  .name{
    display: block;
    font: bold 15px $font-stack;
    text-transform: uppercase;
    margin: 30px 0 10px;
  }
  .position{
    font: normal 15px $font-stack;
  }
}
.join-section{
  background: #f5f5f5;
  h2{
    font: bold 24px $font-stack;
    color: #323232;
    &:before, &:after{
      background: #323232;
    }
  }
  p{
    font: bold 18px $font-stack;
    text-align: center;
    color: #323232;
    margin: 40px 0;
  }
  .filter-by{
    width: 100%;
    margin-top: 26px;
    ul{
      width: 100%;
      text-align: center;
      li{
        display: inline-block;
        font: bold 16px $font-stack;
        color: #1b1b1b;
        padding: 0 20px;
        a{
          color: #9a9797;
          &.active, &:hover{
            color: #e43115;
            text-decoration: none;
          }
        }
      }
    }
  }
  .list-job{
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    div{
      text-align: center;
      h3, a{
        font: bold 24px $font-stack;
        color: #2098b6;
        text-decoration: underline;
      }
      h3{
        margin:25px 0 20px;
      }
      .type-work{
        font: normal 18px $font-stack;
        color: #a3a1a1;
      }
    }
  }
}
.bottom-section{
  margin-top: 40px;
  margin-bottom: 50px;
  .content-text{
    border-top:1px solid #cccbcb;
    padding-top: 0px;
    >div:first-child{
      padding-left: 0;
    }
    h2{
      text-align: left;
      font: bold 24px $font-stack;
      color: #908e8e;
      margin-bottom: 0;

      &:before, &:after{
        display: none;
      }
    }
    p{
      font: bold 14px $font-stack;
      color: #908e8e;
      text-align: left;
      margin-top: 15px;
      margin-bottom: 17px;
    }
  }
  .btn{
    width: 250px;
    height: 68px;
    text-align: center;
    color: #cc0202;
    text-transform: uppercase;
    font: bold 18px $font-stack;
    border: 1px solid #cc0202;
    line-height: 57px;
    &:hover{
      opacity: 0.75;
    }
  }
}
footer{
  background: #2c2d2e;
  min-height: 103px;
  .navbar{
    background: none;
    border: none;
    margin-top: 42px;
    .nav{
      text-align: right;
      width: 100%;
      li{
        display: inline-block;
        float: none;
        a{
          font: bold 18px 'Verdana';
          color: #fff;
          padding: 0;
          padding-left: 48px;
          &.active, &:hover, &:focus{
            color: #df4d34;
            text-decoration: none;
          }
          &.search{
            width: 18px;
            height: 17px;
            background: url("../img/icon-search.png") no-repeat;
            display: inline-block;
            text-indent: -999em;
            margin-left: 37px;
            margin-top: -2px;
            vertical-align: top;
          }
        }
      }
    }
  }
  .copy-right{
    font: normal 18px $font-stack;
    color: #616a77;
    padding-top: 46px;
    a{
      color: #fff;
    }
  }
}
.header{
  padding-top: 10px;
  height: 80px;
  background: #fff5d2;
  .navbar{
    padding-right: 40px;
  }
  .navbar .nav li a{
    font: bold 14px 'Verdana';
    color: #000;
    &:hover{
      color: #cf2e30;
    }
  }
  .navbar .nav li:first-child{
    a{
      color: #cf2e30;
      text-decoration: underline;
    }

  }
}
.main-content{
  .content{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 2px;
  }
  .link-black{
    color: #999999;
    font:normal 14px $font-stack;
    .icon-back{
      width: 14px;
      height: 14px;
      background: url("../img/icon-prev.png") no-repeat;
      display: inline-block;
      vertical-align: top;
      margin-top: 1px;
      margin-right: 7px;
    }
  }
  h1{
    font: bold 30px $font-stack;
    color: #333;
    margin-bottom: 15px;
  }
  h2{
    font: normal 24px $font-stack;
    color: #333;
    text-align: left;
    margin: 20px 0 25px;
    &:before, &:after{
      display: none;
    }
  }
  p{
    font: normal 16px $font-stack;
    color: #333;
    line-height: 1.4;
  }
  .position{
    color: #999999;
  }

}
aside.col-right{
  .content{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    min-height: 120px;
    border-radius: 2px;
    padding: 30px;
    .btn-apply{
      width: 100%;
      height: 45px;
      background: #ff9900;
      font: bold 14px $font-stack;
      color: #fff;
      line-height: 34px;
      transition: all 0.5s;
      &:hover{
        opacity: 0.75;
      }
    }
    p{
      text-align: center;
      color: #999999;
      font: normal 14px 'Myriad Pro';
      margin: 30px 0 10px;
    }
    .share{
      width: 100%;
      height: 45px;
      background: none;
      font: bold 14px $font-stack;
      color: #3b5998;
      line-height: 34px;
      transition: all 0.5s;
      border: 1px solid #3b5998;
      &:hover{
        opacity: 0.75;
      }
    }
  }
}
.sub-page{
  .bottom-section{
    margin-top: 0;
    .content-text{
      border: none;
      h2{
        margin-top: 10px;
      }
    }
  }
}
.form-apply{
  float: none;
  max-width: 625px;
  margin: 0 auto 50px;
  .content{
    padding: 0px;
    .header-pager{
      padding: 30px;
    }
  }
  .btn-apply{
    width: 100%;
    height: 45px;
    background: #ff9900;
    font: bold 14px $font-stack;
    color: #fff;
    line-height: 34px;
    transition: all 0.5s;
    border: none;
    &:hover{
      opacity: 0.75;
    }
  }
  form{
    background: #f3f3f3;
    padding: 30px;
    margin-top: -10px;
    label{
      font: bold 14px $font-stack;
      color: #333;
      margin-bottom: 3px;
    }
    .form-control{
      height: 38px;
      border-radius: 0;
      border: 1px solid #dddddd;
      box-shadow: none;

    }
    .form-group{
      margin-bottom: 28px;
    }
  }
  .column-2{
    div:first-child{
      padding-left: 0px;
    }
    div:last-child{
      padding-right: 0px;
    }
  }
  input[type='file']{
    height: 38px;
    border-radius: 0;
    border: 1px solid #dddddd;
    box-shadow: none;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }
}